# Data Types

In [184]:
num1 = 5
num2 = 4.1
num3 = 3 + 1j
boolValue = True
str1 = "Hello"
myList = [1,5,8,1]
myTuple = (10,20,30,30)   #Immutable
mySet = set({4,5,5})   #doesn't allow duplicates
myDict = {"ID" : 101, "Name" : "David"}  #Key value pairs

print(num1)
print(num2)
print(num3)
print(boolValue)
print(str1)
print(myList)
print(myTuple)
print(mySet)
print(myDict)

print(type(num1))
print(type(num2))
print(type(num3))
print(type(boolValue))
print(type(str1))
print(type(myList))
print(type(myTuple))
print(type(mySet))
print(type(myDict))

5
4.1
(3+1j)
True
Hello
[1, 5, 8, 1]
(10, 20, 30, 30)
{4, 5}
{'ID': 101, 'Name': 'David'}
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

# Casting

In [187]:
x1 = int("10")
x2 = int(2.5)

print(x1, type(x1))
print(x2, type(x2))

10 <class 'int'>
2 <class 'int'>

In [189]:
y1 = float(2)
y2 = float("8")

print(y1, type(y1))
print(y2, type(y2))

2.0 <class 'float'>
8.0 <class 'float'>

In [191]:
w1 = str(2)
w2 = str(6.7)

print(w1, type(w1))
print(w2, type(w2))

2 <class 'str'>
6.7 <class 'str'>

In [193]:
list1 = [10,20,30]
tuple1 = (1,2,3)

list2 = list(tuple1)
tuple2 = tuple(list1)
set1 = set(list1)

print(list1)
print(list2)
print(tuple1)
print(tuple2)
print(set1)

[10, 20, 30]
[1, 2, 3]
(1, 2, 3)
(10, 20, 30)
{10, 20, 30}

In [195]:
boolValue1 = True
boolValue2 = False

a = int(boolValue1)
b = int(boolValue2)

print(a)
print(b)

1
0

# Arithmetic Operators

In [180]:
a , b = 10, 6

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

16
4
60
1.6666666666666667
1
4
1000000

# Logical Operators

In [184]:
a, b, c = True, False, True

print(a and b and c)
print(a or b or c)
print(not a)

False
True
False

# Comparision Operators

In [201]:
a, b, c, d, e = 1,5,1,4,3
print(a == c)
print(a != c)
print(a > d)
print(e < c)
print(b >= d)
print(c <= e)

True
False
False
False
True
True

# Bitwise Operators

In [212]:
# Bitwise and
"""
a = 10 = 1010
b = 6 = 0110

1010 &
0110
----
0010  which is 2( 1 & 0 = 0, 0 & 1 = 0, 1 & 1 = 1, 0 & 0 = 0) 
"""

a = 10
b = 6

print("a & b =", a & b)

a & b = 2

In [216]:
# Bitwise or
"""
a = 10 = 1010
b = 6 = 0110

1010 |
0110
----
1110  which is 14 ( 1 | 0 = 1, 0 | 1 = 1, 1 | 1 = 1, 0 | 0 = 0) 
"""

a = 10
b = 6

print("a | b =", a | b)

a | b = 14

In [218]:
# Bitwise xor
"""
The Python Bitwise XOR (^) Operator also known as the exclusive OR operator, is used to perform the XOR operation on two operands. 
XOR stands for “exclusive or”, and it returns true if and only if exactly one of the operands is true. 
In the context of bitwise operations, it compares corresponding bits of two operands. 
If the bits are different, it returns 1; otherwise, it returns 0.

a = 10 = 1010
b = 6 = 0110

1010 ^
0110
----
1100  which is 12 ( 1 ^ 0 = 1, 0 ^ 1 = 1, 1 ^ 1 = 0, 0 ^ 0 = 0) 
"""

a = 10
b = 6

print("a ^ b =", a ^ b)  # XOR

a ^ b = 12

In [220]:
# Bitwise not
"""
Python Bitwise Not (~) Operator works with a single value and returns its one’s complement. 
This means it toggles all bits in the value, transforming 0 bits to 1 and 1 bits to 0, resulting in the one’s complement of the binary number.

a = 10 = 00001010 ( 8 - Bit representation)


~ 00001010
  --------
  11110101  

  this is the 1's complement of the number 10

to find out decimal equivalent of 11110101 , we need to take the 2's complement since the number is negative

1's complement of 11110101  = 00001010

2's complement of 11110101  = 00001010  +
                                     1
                              --------
                              00001011

    so this is 11.    
    since the number is negative, the answer will be -11
"""

a = 10

print("~ a =", ~a)

~ a = -11

In [222]:
# bitwise right shift 
"""
The right shift (>>) operator shifts all the bits in a number to the right by the specified number of positions, 
and fills the empty bits with zeros on the left.

In arithmetic right shift (which Python uses for signed integers):

Shift bits to the right

Fill the leftmost bits with the original sign bit (MSB) to preserve the sign.

Example 1:
a = 10 = 0000 1010 
a >> 1 = 0000 0101 = 5

Example 2:
a = -10 = 1111 0110 (-10 will be represented as 2's complement of 10

                      1's complement of 10 i.e. 0000 1010 = 1111 0101 
                      2's complement 1111 0101 +
                                             1
                                    -----------
                                     1111 0110)
a >> 1 = 1111 1011 = -5 (Take 2's complement to find the decimal equivalent)
                       1's complement of 0111 1011 = 0000 0100 +
                                                             1
                                                     ----------
                                                     0000 0101 = -5 (0000 0101 indicates 5)
"""

a = 10
b = -10

print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a >> 1 = 5
b >> 1 = -5

In [226]:
# bitwise left shift 
"""
The left shift (<<) operator shifts all the bits in a number to the left by the specified number of positions, 
and fills the empty bits with zeros on the right.
Example 1:
a = 10 = 0000 1010 
a << 1 = 0001 0100 = 20

Example 2:
a = -10 = 1111 0110 (-10 will be represented as 2's complement of 10

                      1's complement of 10 i.e. 0000 1010 = 1111 0101 
                      2's complement 1111 0101 +
                                             1
                                    -----------
                                     1111 0110)
a << 1 = 1110 1100 =  (Take 2's complement to find the decimal equivalent)
                       1's complement of 1110 1100 = 0001 0011 +
                                                             1
                                                     ----------
                                                     0001 0100 = 20 (0001 0101 indicates 20)
"""

a = 10
b = -10

print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a << 1 = 20
b << 1 = -20

# Assignment Operator

In [245]:
a = 3
b = 5

print("a : ",a)
print("b : ",b)

print("a + b : ",a + b)

a :  3
b :  5
a + b :  8
a += b :  8

In [ ]:
a += b
print("a += b : ",a)

In [247]:
a = 3
b = 5
a -= b
print("a -= b : ",a)

a -= b :  -2

In [249]:
a = 3
b = 5
a *= b
print("a *= b : ",a)

a *= b :  15

In [251]:
a = 3
b = 5
a /= b
print("a /= b : ",a)

a /= b :  0.6

In [253]:
a = 3
b = 5
a //= b
print("a //= b : ",a)

a //= b :  0

In [255]:
a = 3
b = 5
a %= b
print("a *= b : ",a)

a *= b :  3

In [257]:
a = 3
b = 5

a **= b

print("a **= b : ",a)

a **= b :  243

In [259]:
a = 3
b = 5

a &= b

print("a &= : ", a)

a &= :  1

In [261]:
a = 3
b = 5

a |= b

print("a | b : ",a)

a | b :  7

In [263]:
a = 3
b = 5

a ^= b

print("a ^ b : ",a)

a ^ b :  6

In [265]:
a = 3
b = 5

a >>= b

print("a >>= : ",a)

a >>= :  0

In [267]:
a = 3
b = 5

a <<= b

print("a <<= : ",a)

a <<= :  96

In [271]:
"""The Walrus Operator in Python is a new assignment operator which is introduced in Python version 3.8 and higher. 
This operator is used to assign a value to a variable within an expression.

Syntax: a := expression
Example: In this code, we have a Python list of integers. We have used Python Walrus assignment operator within the Python while loop. 
The operator will solve the expression on the right-hand side and assign the value to the left-hand side operand ‘x’ and then execute the remaining code.
"""

a = [1, 2, 3, 4, 5]

# walrus operator
while(x := len(a)) > 2:
    a.pop()
    print(x)

5
4
3

# Memebership Operator

In [274]:
# in operator
list1 = [1, 2, 3, 4, 5]
str1 = "Hello World"
dict1 = {1: "Geeks", 2:"for", 3:"geeks"}

# using membership 'in' operator
# checking an integer in a list
print(2 in list1)

# checking a character in a string
print('O' in str1)

# checking for a key in a dictionary
print(3 in dict1)

True
False
True

In [276]:
# not in operator
list1 = [1, 2, 3, 4, 5]
str1 = "Hello World"
dict1 = {1: "Geeks", 2:"for", 3:"geeks"}

# using membership 'not in' operator
# checking an integer in a list
print(2 not in list1)

# checking a character in a string
print('O' not in str1)

# checking for a key in a dictionary
print(3 not in dict1)

False
True
False

In [278]:
# import module
import operator

# using operator.contain()
# checking an integer in a list
print(operator.contains([1, 2, 3, 4, 5], 2))

# checking a character in a string
print(operator.contains("Hello World", 'O'))

# checking an integer in aset
print(operator.contains({1, 2, 3, 4, 5}, 6))

# checking for a key in a dictionary
print(operator.contains({1: "Geeks", 2:"for", 3:"geeks"}, 3))

# checking for an integer in a tuple
print(operator.contains((1, 2, 3, 4, 5), 9))

True
False
False
True
False

# Identity Operator

In [287]:
# 'is' identity operator
num1 = 5
num2 = 5

float1 = 3.4
float2 = 3.4

a = [1, 2, 3]
b = [1, 2, 3]
c = a

s1 = "hello world"
s2 = "hello world"

print(num1 is num2)
print(float1 is float2)
print(a is b)
print(a is c)
print(s1 is s2)

True
False
False
True
False

In [289]:
# 'is not' identity operator
num1 = 5
num2 = 5

a = [1, 2, 3]
b = [1, 2, 3]
c = a

s1 = "hello world"
s2 = "hello world"

# using 'is not' identity operator on different datatypes
print(num1 is not num2)
print(a is not b)
print(a is not c)
print(s1 is not s2)
print(s1 is not s1)

False
True
False
True
False

# Strings

In [198]:
a = "Hello, World!"

#access character at position at 1
print(a[1])

e

In [200]:
#SubString 
print(a[2:5])

llo

In [202]:
#Remove whitespace from beginning or end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [204]:
# Find length of the string

a = "Hello, World!"
print(len(a))

13

In [206]:
#convert to lower case
print(a.lower())

hello, world!

In [208]:
#convert to upper case
print(a.upper())

HELLO, WORLD!

In [210]:
print(a.capitalize())  #Converts the first character of the string to a capital (uppercase) letter

Hello, world!

In [212]:
print(a.count('l'))  #Returns the number of occurrences of a substring in the string.

3

In [214]:
print(a.endswith('!'))

True

In [216]:
print(a.find("W"))

7

In [218]:
#Replace a character with another
print(a.replace("H", "J"))

Jello, World!

In [220]:
#Splitting
b = a.split(",")
print(b)

['Hello', ' World!']

In [222]:
s = "abc123"

print(s.isalnum())  #Checks whether all the characters in a given string is alphanumeric or not

True

In [224]:
print(s.isalpha()) #Returns “True” if all characters in the string are alphabets

False

In [226]:
print(s.isdigit()) #Returns “True” if all characters in the string are alphabets

False

In [228]:
print(s.islower())  #Checks if all characters in the string are lowercase

True

In [230]:
print(s.isspace())  #Returns “True” if all characters in the string are whitespace characters

False

In [232]:
print(s.isupper())  #Checks if all characters in the string are uppercase

False

In [234]:
list1 = ['Hello', 'world', 'from', 'Python']
res = ' '.join(list1)
print(res)

Hello world from Python

In [236]:
print(s.startswith('a'))

True

In [82]:
s1 = "hello"
s2 = "world"
print(s1 + s2)

helloworld

In [84]:
print(s1 * 3)

hellohellohello

# Lists

In [91]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [93]:
#Access an element from list using index
print(fruits[1])
print(fruits[-1])

banana
cherry

In [95]:
#Change the list element
fruits[1] = "kiwi"
print(fruits)

['apple', 'kiwi', 'cherry']

In [97]:
#Access all the elements of the list
for x in fruits:
  print(x)

apple
kiwi
cherry

In [99]:
#check if an item exists in the list
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [101]:
#Find length of the list
print(len(fruits))

3

In [103]:
myList = fruits.copy()
print(myList)

['apple', 'kiwi', 'cherry']

In [105]:
#Add item at the end of the list
fruits.append("orange")
print(fruits)

['apple', 'kiwi', 'cherry', 'orange']

In [107]:
#Add item at the specified position
fruits.insert(1, "mango")
print(fruits)

['apple', 'mango', 'kiwi', 'cherry', 'orange']

In [109]:
#remove element at the specified position
fruits.remove("cherry")
print(fruits)

['apple', 'mango', 'kiwi', 'orange']

In [111]:
#Remove last element
fruits.pop()
print(fruits)

['apple', 'mango', 'kiwi']

In [113]:
#Remove an element from the specified position
del fruits[0]
print(fruits)

['mango', 'kiwi']

In [115]:
#empty the list
fruits.clear()
print(fruits)

[]

In [117]:
fruits = ['orange', 'banana', 'watermelon']

fruits.extend(myList)
print(fruits)

['orange', 'banana', 'watermelon', 'apple', 'kiwi', 'cherry']

In [119]:
print(fruits.index("cherry"))

5

In [121]:
fruits.reverse()
print(fruits)

['cherry', 'kiwi', 'apple', 'watermelon', 'banana', 'orange']

In [123]:
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange', 'watermelon']

In [129]:
nums = [4,2,8,1,6]
print(nums)

print(max(nums))
print(min(nums))
print(sum(nums))

[4, 2, 8, 1, 6]
8
1
21

In [131]:
print(nums * 2)

[4, 2, 8, 1, 6, 4, 2, 8, 1, 6]

In [139]:
nums = [0,1,2,3]

print(all(nums))   # returns "True" if all the elements of the supplied iterable are true or if there are no elements

False

In [143]:
print(any(nums))  # returns "True" if any elements of the supplied iterable is true. If the iterable is empty, it returns "False"

True

In [338]:
mixedList = ["abc" , 7, 9 , 3.4 , "x"]

print(mixedList)

['abc', 7, 9, 3.4, 'x']

In [340]:
nestedList = [[2,5,1] , [6,8,0], [10,5,2]]

print(nestedList)

[[2, 5, 1], [6, 8, 0], [10, 5, 2]]

# Tuples

In [148]:
# immutable
tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
tuple2 = ('Python', 'C', 'Java', 'C++') 

print(tuple1)
print(tuple2)

(0, 1, 2, 3, 2, 3, 1, 3, 2)
('Python', 'C', 'Java', 'C++')

In [186]:
for item in tuple2:
    print(item)

Python
C
Java
C++

In [152]:
print(tuple1[2])

2

In [156]:
print(tuple2[-1])

C++

In [150]:
# count the appearance of 3 
print(tuple1.count(3))

3

In [160]:
print(tuple2.index("Java"))

2

In [164]:
# Tuples are immutable
# tuple1[0] = 5

In [348]:
print(max(tuple1))
print(min(tuple1))
print(sum(tuple1))
print(len(tuple1))

3
0
17
9

In [350]:
print(sorted(tuple1))

[0, 1, 1, 2, 2, 2, 3, 3, 3]

In [184]:
#Tuples can be declared without paranthesis also
myTuple = 1,2,2
print(myTuple)
print(type(myTuple))

(1, 2, 2)
<class 'tuple'>

In [176]:
# if we delcare single element, it is considered as string. hence we need to add a comma after the element
myTuple1 = ("hello")
myTuple2 = ("hello",)  # or myTuple2 = "hello",

print(myTuple1)
print(type(myTuple1))

print(myTuple2)
print(type(myTuple2))

hello
<class 'str'>
('hello',)
<class 'tuple'>

In [334]:
myTuple = ("hello", [2,4,6], 8)
print(myTuple)

('hello', [2, 4, 6], 8)

# Sets

In [360]:
#unordered. Duplicates not allowed. Unchangeble(Once a set is created, you cannot change its items, but you can add new items.)
mySet = {"apple", "banana", "cherry"}
print(mySet)

{'apple', 'banana', 'cherry'}

In [362]:
print(len(mySet))

3

In [364]:
for x in mySet:
  print(x)

apple
banana
cherry

In [366]:
print("banana" in mySet)

True

In [368]:
#Once a set is created, you cannot change its items, but you can add new items.

mySet.add("orange")

print(mySet)

{'orange', 'apple', 'banana', 'cherry'}

In [370]:
tropical = {"pineapple", "mango", "papaya"}

mySet.update(tropical)

print(mySet)

{'apple', 'papaya', 'banana', 'cherry', 'pineapple', 'mango', 'orange'}

In [372]:
mySet.remove("banana")   #If the item to remove does not exist, remove() will raise an error.

print(mySet)

{'apple', 'papaya', 'cherry', 'pineapple', 'mango', 'orange'}

In [374]:
mySet.discard("banana")

print(mySet)

{'apple', 'papaya', 'cherry', 'pineapple', 'mango', 'orange'}

In [376]:
x = mySet.pop()  #this method will remove a random item, so you cannot be sure what item that gets removed. The return value of the pop() method is the removed item.

print(x)

print(mySet)

apple
{'papaya', 'cherry', 'pineapple', 'mango', 'orange'}

In [378]:
mySet.clear()

print(mySet)

set()

In [380]:
del mySet

In [306]:
set1 = {"abc", 34, True, 40, "xyz"}
print(set1)

{'abc', 34, True, 40, 'xyz'}

In [382]:
#Joining
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 'b', 3, 'a'}

In [384]:
#Joining
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'c', 2, 'b', 3, 'a'}

In [386]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'bananas', 'cherry', 'John', 'c', 'b', 'Elena', 'a'}

In [388]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'apple', 'bananas', 'cherry', 'John', 'c', 'b', 'Elena', 'a'}

In [390]:
#Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [392]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [394]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [396]:
#The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [400]:
#The values True and 1 are considered the same value. The same goes for False and 0.
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [402]:
#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [404]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [408]:
#The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [410]:
#The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [412]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [414]:
#The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'google', 'banana', 'microsoft'}

In [416]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [418]:
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [420]:
#Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [422]:
#Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

# Dictionary

In [316]:
dict1 = {'Name': 'David', 'Age': '19', 'Country': 'India'}

print(dict1)

{'Name': 'David', 'Age': '19', 'Country': 'India'}

In [318]:
print(dict1["Name"]) # Access value using the key

David

In [320]:
dict1["Age"] = 23  #Change value using the key

print(dict1)

{'Name': 'David', 'Age': 23, 'Country': 'India'}

In [322]:
print(dict1.get('Name'))

David

In [324]:
# print(dict1['Gender'])  # This throws an error if the key is not found

print(dict1.get('Gender')) # But this returns None if the key is not found

None

In [326]:
for key, value in dict1.items():
    print(key, ":", value)

Name : David
Age : 23
Country : India

In [328]:
for key in dict1.keys():
    print(key)

Name
Age
Country

In [332]:
print("Keys :", dict1.keys())
print("Values :", dict1.values())

Keys : dict_keys(['Name', 'Age', 'Country'])
Values : dict_values(['David', 23, 'India'])

In [342]:
for value in dict1.values():
    print(value)

David
23
India

In [301]:
dict1.pop("Country")

print(dict1)

{'Name': 'David', 'Age': 23}

In [303]:
dict1.clear()

print(dict1)

{}

In [305]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [307]:
del squares[5]
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}

In [309]:
del squares

In [311]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}

print(squares)

print("1 in squares :: ", 1 in squares)
print("6 in squares :: ", 6 in squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
1 in squares ::  True
6 in squares ::  False

# Conditional Statements

In [358]:
a = 0
if a == 0:
    print("The value is zero")

The value is zero

In [360]:
a = 10
b = 20
if a > b :
    print(a , "is greater than" , b)
else :
   print(b , "is greater than" , a)

20 is greater than 10

In [364]:
x = -2

if x == 0:
    print(x, " is zero")
elif x < 0:
    print(x, " is negative")
else:
    print(x, " is positive")

-2  is negative

# Loops

In [367]:
for i in range(5):
    print(i)

0
1
2
3
4

In [371]:
i = 1

while i < 3:
    print(i)
    i += 1

1
2

# Controlling Loops

In [381]:
i = 1

while i > 0:
    if i == 3:
        break
    print(i)
    i += 1

1
2

In [8]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

# user input

In [22]:
s = input("Enter a string :: ")

print(s)

Enter a string ::  hello

hello

In [18]:
a = int(input("Enter a number :: "))

print(a)

Enter a number ::  4

4

In [80]:
b = float(input("Enter a decimal number: "))
print(b)

Enter a decimal number:  4

4.0

In [26]:
list1 = []
n = int(input("Enter how many numbers ?? "))

for i in range(n):
    list1.append(int(input("Enter a number :: ")))
    
print(list1)

Enter how many numbers ??  5
Enter a number ::  2
Enter a number ::  3
Enter a number ::  10
Enter a number ::  8
Enter a number ::  4

[2, 3, 10, 8, 4]

In [70]:
list1 = list(map(int, input().split(' ')))
    
print(list1)

 1 5 2 4 8

[1, 5, 2, 4, 8]

In [72]:
list1 = list(map(int, input().split(',')))
    
print(list1)

 10,20,30,40

[10, 20, 30, 40]

In [76]:
name = input('What is your name?\n')     # \n  - line break
print(name)

What is your name?
 John

John

In [149]:
#For strings
x, y = input().split()

print(x)
print(y)

 a b

a
b

In [153]:
#For int
x, y = map(int, input().split())

print(x)
print(y)

 3 5

3
5

# Output

In [87]:
name = "Alice"
age = 25

print("Hello, my name is", name, "and I am", age, "years old.")

Hello, my name is Alice and I am 25 years old.

In [89]:
print("Python \n is very simple.")

Python
 is very simple.

In [95]:
# without end parameter. by default it is set to \n. so next print statement will be displyed in new line
print ("Python is a simple programming language")

# The end keyword is used to specify the content that is to be printed at the end of the execution of the print() function
print ("Python is a simple programming language", end= ".")
print("It is user friendly.")

Python is a simple programming language
Python is a simple programming language.It is user friendly.

In [103]:
# The print() function can accept any number of positional arguments. To separate these positional arguments, the keyword argument “sep” is used.
a = 12
b = 12
c = 2022
print(a, b, c) # by default it is space seperated
print(a, b, c, sep="-")

12 12 2022
12-12-2022

In [121]:
# string modulo operator(%)

print("Num1 : %2d " % (1)) # %2d is used to format an integer so it takes up at least 2 spaces, and is right aligned by default.
print("Num2 : %7.2f" % (05.3333)) # 7 means total minimum width of the output, .2 is the no of digits to display after the decimal point.

print("Total students : %3d, Boys : %2d" % (240, 120))   # print integer value

print("%7.3o" % (25))   # print octal value

print("%10.3E" % (356.08977))   # print exponential value

Num1 :  1
Num2 :    5.33
Total students : 240, Boys : 120
    031
 3.561E+02

In [129]:
# Positional formatting with format() method

# Using indexed placeholders for string formatting
print("I love {0} and \"{1}!\"".format("Python", "Java"))  

# {0} is replaced by the first argument 'Hello'
print("{0} World!!".format("Hello"))

# Formatting with placeholders, {0} replaced by 'World'
print("Hello {0}".format("World"))

I love Python and "Java!"
Hello World!!
Hello World

In [135]:
# Mixing positional and named arguments
template = "Python is {0} {1} and {other}."
print(template.format("very", "simple", other="easy to understand"))

Python is very simple and easy to understand.

In [137]:
s = "I love Python"

# Printing the center aligned string with fillchr
print("Center aligned: ")
print(s.center(40, '#'))

# Printing the left aligned string with "-" padding
print("left aligned: ")
print(s.ljust(40, '-'))

# Printing the right aligned string with "-" padding
print("right aligned: ")
print(s.rjust(40, '-'))

Center aligned:
#############I love Python##############
left aligned:
I love Python---------------------------
right aligned:
---------------------------I love Python

In [155]:
val = "Hello"
print(f"{val} World!!!")

Hello World!!!

# Exception handling

In [164]:
a , b = 10, 0

try:
    res = a / b
except Exception as e:
    print(e)
else:
    print(res)
finally:
    print("Done!!!!")

division by zero
Done!!!!

# Match Statement

In [426]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [428]:
#Use the underscore character _ as the last case value if you want a code block to execute when there are not other matches:

day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

In [430]:
#Use the pipe character | as an or operator in the case evaluation to check for more than one value match in one case:

day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [432]:
#You can add if statements in the case evaluation as an extra condition-check:

month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

# Functions

In [437]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [439]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("John", "Smith")

John Smith

In [443]:
#If the number of arguments is unknown, add a * before the parameter name:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Alex", "Alice", "Bob")

The youngest child is Bob

In [445]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emily", child2 = "Jack", child3 = "Jay")

The youngest child is Jay

In [453]:
"""If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name 
in the function definition.
This way the function will receive a dictionary of arguments, and can access the items accordingly:
If the number of keyword arguments is unknown, add a double ** before the parameter name: """

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Teena", lname = "Roy")

His last name is Roy

In [459]:
#Default Parameter Value
def my_function(country = "India"):
  print("I am from " + country)

my_function("Sweden")
my_function("Sri Lanka")
my_function()
my_function("Brazil")

I am from Sweden
I am from Sri Lanka
I am from India
I am from Brazil

In [463]:
"""Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside 
the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:"""

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [465]:
#Return Values : To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [467]:
#The pass Statement : function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

def myfunction():
  pass

In [1]:
#Python also accepts function recursion, which means a defined function can call itself.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = 5

if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    result = factorial(num)
    print(f"The factorial of {num} is: {result}")

The factorial of 5 is: 120

# Lambda functions

In [3]:
x = lambda a : a + 10
print(x(5))

15

In [6]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [10]:
"""The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:"""

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

# Class and Objects

In [13]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [17]:
#The string representation of an object WITHOUT the __str__() function:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000001820A6DA6F0>

In [15]:
"""The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned will be the address of the object. So if we want to print 
all the instances vlaues of the object we can to so by overriding __str__() function. """

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [19]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [37]:
p1.age = 40
print(p1.age)

40

In [39]:
#You can delete properties on objects by using the del keyword:
del p1.age

In [41]:
#You can delete objects by using the del keyword:

del p1

# Inheritance

In [44]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

In [50]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Glen", "Jackson", 2019)
x.welcome()

Welcome Glen Jackson to the class of 2019