In [7]:
import pandas as pd
import sqlite3

conn = None 

while True:
    print("\n--- MENU ---")
    print("1. Connect to a database")
    print("2. Create a table")
    print("3. Insert values to the table")
    print("4. Display table values")
    print("5. Delete a row by ID")
    print("6. Update a value by ID")
    print("7. Delete the entire table")
    print("8. Exit")

    ch = input("Enter your choice: ")

    if ch == "1":
        conn = sqlite3.connect('test.db')
        print("Database opened successfully.")

    elif ch == "2":
        if conn:
            try:
                conn.execute('''CREATE TABLE COMPANY
                             (ID INT PRIMARY KEY NOT NULL,
                              NAME TEXT NOT NULL,
                              AGE INT NOT NULL,
                              ADDRESS CHAR(50),
                              SALARY REAL);''')
                print("Table created successfully.")
            except Exception as e:
                print("Error creating table:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "3":
        if conn:
            try:
                n = int(input("How many records do you want to insert? "))
                for _ in range(n):
                    id = int(input("Enter ID: "))
                    name = input("Enter Name: ")
                    age = int(input("Enter Age: "))
                    address = input("Enter Address: ")
                    salary = float(input("Enter Salary: "))
                    conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) VALUES (?, ?, ?, ?, ?)",
                                 (id, name, age, address, salary))
                conn.commit()
                print("Records added successfully.")
            except Exception as e:
                print("Error inserting records:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "4":
        if conn:
            try:
                print(pd.read_sql_query("SELECT * FROM COMPANY", conn))
            except Exception as e:
                print("Error displaying table:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "5":
        if conn:
            try:
                del_id = int(input("Enter the ID of the row to delete: "))
                cursor = conn.execute("DELETE FROM COMPANY WHERE ID = ?", (del_id,))
                conn.commit()
                if conn.total_changes > 0:
                    print("Row deleted successfully.")
                else:
                    print("No row found with ID:", del_id)
            except Exception as e:
                print("Error deleting row:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "6":
        if conn:
            try:
                upd_id = int(input("Enter the ID of the row to update: "))
                column = input("Enter the column to update (NAME, AGE, ADDRESS, SALARY): ").upper()
                new_value = input("Enter the new value: ")

                # Type conversion for age and salary
                if column in ["AGE"]:
                    new_value = int(new_value)
                elif column in ["SALARY"]:
                    new_value = float(new_value)

                conn.execute(f"UPDATE COMPANY SET {column} = ? WHERE ID = ?", (new_value, upd_id))
                conn.commit()

                if conn.total_changes > 0:
                    print("Row updated successfully.")
                    print(pd.read_sql_query("SELECT * FROM COMPANY", conn))
                else:
                    print("No row found with ID:", upd_id)
            except Exception as e:
                print("Error updating row:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "7":
        if conn:
            try:
                conn.execute("DROP TABLE IF EXISTS COMPANY;")
                conn.commit()
                print("Table deleted successfully.")
            except Exception as e:
                print("Error deleting table:", e)
        else:
            print("Please connect to a database first (Option 1).")

    elif ch == "8":
        if conn:
            conn.close()
            print("Database connection closed.")
        print("Exiting...")
        break

    else:
        print("Invalid choice. Please select a valid option (1-8).")

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  1

Database opened successfully.

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  2

Table created successfully.

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  3
How many records do you want to insert?  4
Enter ID:  1
Enter Name:  Paul
Enter Age:  32
Enter Address:  California
Enter Salary:  105000
Enter ID:  2
Enter Name:  Allen
Enter Age:  25
Enter Address:  Texas
Enter Salary:  67800
Enter ID:  3
Enter Name:  Teddy
Enter Age:  23
Enter Address:  Norway
Enter Salary:  46700
Enter ID:  4
Enter Name:  Mark
Enter Age:  25
Enter Address:  50000
Enter Salary:  50000

Records added successfully.

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  6
Enter the ID of the row to update:  4
Enter the column to update (NAME, AGE, ADDRESS, SALARY):  Address
Enter the new value:  Rich-Mond

Row updated successfully.
   ID   NAME  AGE     ADDRESS    SALARY
0   1   Paul   32  California  105000.0
1   2  Allen   25       Texas   67800.0
2   3  Teddy   23      Norway   46700.0
3   4   Mark   25   Rich-Mond   50000.0

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  4

   ID   NAME  AGE     ADDRESS    SALARY
0   1   Paul   32  California  105000.0
1   2  Allen   25       Texas   67800.0
2   3  Teddy   23      Norway   46700.0
3   4   Mark   25   Rich-Mond   50000.0

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  5
Enter the ID of the row to delete:  4

Row deleted successfully.

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  7

Table deleted successfully.

--- MENU ---
1. Connect to a database
2. Create a table
3. Insert values to the table
4. Display table values
5. Delete a row by ID
6. Update a value by ID
7. Delete the entire table
8. Exit

Enter your choice:  8

Database connection closed.
Exiting...